# DATABASE
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=<add DB user>
DATABASE_PASSWORD=<add DB password>
DATABASE_NAME=<add DB name>

# JWT
JWT_ACCESS_TOKEN_SECRET=<generate access token secret>
JWT_REFRESH_TOKEN_SECRET=<generate refresh token secret>
JWT_ACCESS_EXPIRES_IN=30s
JWT_REFRESH_EXPIRES_IN=1d

# SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=<add smtp user>
SMTP_PASS=<add smtp app password>

# APP
PORT=3000
FRONTEND_URL=http://localhost:5173
